# Local SQLite database file
DATABASE_URL="./local.db"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:5173"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend (optional)
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Stripe (optional)
STRIPE_SECRET_KEY="sk_test_..."
PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
